<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325268405296-q7n9n3ijcpcqr3ml3g4m5h65og316v9f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325268405296-q7n9n3ijcpcqr3ml3g4m5h65og316v9f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>325268405296-6edct0ioji8im2p02cd5suub3ro9lin8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDwQuSCGu5PkzjHyfl-aVsgbRKIZfmGzBc</string>
	<key>GCM_SENDER_ID</key>
	<string>325268405296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.GeoSurveyCwz</string>
	<key>PROJECT_ID</key>
	<string>codingwithzain-31bb0</string>
	<key>STORAGE_BUCKET</key>
	<string>codingwithzain-31bb0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325268405296:ios:02f7512d82fd95589c41f5</string>
</dict>
</plist>